*{
    margin: 0px;
    padding: 0px;
}
.logo{
    color: white;
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    padding: 20px;
    height: 80px;
    align-items: center;
    
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.5s;
    
}
nav ul li:hover a{
    background-color: #a56cdb;
    color: red;
}
nav ul li:first-child a{
    background-color: #a56cdb;
}
#click{
    display: none;
}
.mune{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
/* nav responsive start here */
@media only screen and (max-width: 940px){
    nav ul{
        position: fixed;
        background-color: #ce9494;
        top: 120px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        left: -100%;
        transition: all .5s ease;
    }
    nav ul li{
        margin: 50px 0px;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover{
        background: none;
    }
    nav ul li:first-child a{
        background:none;
    }
    .mune{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .mune i::before{
        content: "\f00d";
    }
}


/* Hero area start here */
.hero-area{
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 86vh;
}
/* first section start here */
.service-heading{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 50px 0px;
    letter-spacing: 1.1rem;
}
.service-six-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1300px;
    margin: auto;
    grid-gap: 25px;
    padding-bottom: 100px;
}
.one-card{
    background-color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    border: 5px solid green;
    box-shadow: 5px 5px 10px gray;
}
.one-card i{
    font-size: 40px;
}
.one-card h2{
    margin: 10px 0px;
    font-weight: bold;
}
.first-section{
    background-color: #3e72e2;
}
/* Secound section start here */
.smart-text-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    gap: 50px;
}
.secound-section{
    background-color: #02417c;
}
.smart-text{
    color: white;
}
.smart-text h2{
    margin: 20px 0px;
    font-size: 30px;
}
button{
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #cc3ac0;
}
button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.smart-heading h2{
    color: yellow;
    text-align: center;
    font-size: 40px;
    padding: 30px 0px;
    letter-spacing: 0.2em;
}
/* third section start here */
.about-text-card-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    gap: 30px;
    color: white;
}
.third-section{
    background-image: url(images/about-section.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;
}
.about-text h2{
    margin-bottom: 20px;
}
.about-text ul{
    margin: 20px 0px;
}
.about-text a{
    text-decoration: none;
    font-size: 18px;
    background-color: yellow;
    padding: 10px 30px;
    margin-top: 20px;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
.four-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px;
}
.one-about-card{
    background-color: #eaecee;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid limegreen;
}
.one-about-card h4{
    font-size:20px;
    padding: 10px 0px 20px 0px;
}
/* Fourth section start here */
.fourth-section{
    background-color: #a79191;
    padding: 100px 0px;
    color: white;
}
.advice-left-right-container{
    display: flex;
    margin: 0px 200px;
    gap: 50px;
}
.advoce-image img{
    width: 100%;
}
.advice-left-right-container p{
    margin: 20px 0px;
    line-height: 1.2em;
    text-align: justify;
}
.advice-right-box h3{
    font-size: 25px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}
.advice-left-box h4{
    padding-top: 10px;
    font-size: 25px;
}
.advice-left-right-container a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
}
.four-social-icon {
    text-align: center;
}
.four-social-icon a{
    margin: 0px 5px;
    border: 1px solid black;
}
.advice-left-right-container a:hover{
    background-color: wheat;
}
/* Fifth section start here */
.fifth-section{
    background-image:linear-gradient(rgba(30, 143, 255, 0.288), rgba(255, 30, 143, 0.26)), url(images/contact.jpg);
    padding: 100px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    background-color: #521dce;
    max-width: 50%;
    margin: auto;
    padding: 50px 60px;
    border-radius: 10px;
    border: 6px solid rgb(82, 157, 233);
    color: white;
}
form h2{
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
}
form p{
    text-align: center;
    margin: 30px 0px;
    letter-spacing: 0.1em;
}
form .input{
    display: block;
    width: 100%;
    height: 40px;
    margin: 50px 0px;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 3px solid rgb(82, 157, 233);
    font-size: 18px;
}
.input::placeholder{
    color: rgb(82, 157, 233);
}
.sub-btn{
    display: block;
    margin: auto;
    padding: 5px 40px;
    font-size: 20px;
    background:none;
    outline-style: ridge;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.sub-btn:hover{
    background-color: rgb(29, 29, 29);
}
/* Six section start here */
.six-section{
    background-color: #074597;
    color: white;
    padding: 100px 0px;
}
.six-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 0px 200px;
}
fieldset{
    border: 4px solid dodgerblue;
    padding: 20px;
}
fieldset i{
    font-size: 40px;
    padding: 0px 15px 10px 15px;
}
fieldset h5{
    margin-bottom: 10px;
}

fieldset p{
    color: rgb(173, 170, 170);
    font-size: 14px;
}
fieldset:nth-child(2){
    border: 4px solid white;
}
.One-different-card h2{
    line-height: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
 
   





/* Responsiv start here */
@media only screen and (max-width: 688px){
    .service-six-cards-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 15px;   
    }
    /* secound section responsive */
    .smart-text-image-container{
        display: block;
        margin: 0px 50px;  
    }
    .smart-img img{
        width: 100%;
        margin-bottom: 30px;
    }
    /* Third section responsive */
    .about-text-card-container{
        display: block;
        margin: 0px 50px;
    }
    .four-card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
        margin-top: 50px;
    }
    /* Forth section responsive */
    .advice-left-right-container{
        display: block;
        margin: 0px 30px;
    }
    .four-social-icon {
        text-align:left;
    }
    .advice-left-right-container a{
        margin: 10px 5px;
    }
    .advice-right-box h3{
        margin-top: 50px;
    }
    /* Fifth section responsive */
    form{
        max-width: 70%;
        padding: 20px 30px;
    }
    .fifth-section{
        padding: 50px 0px;
    }
    /* Sex section responsive */
    .six-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        margin: 0px 30px;
    }
    .One-different-card{
        text-align: center;
    }
    .six-section{
        padding: 50px 0px;
    }
}

@media only screen and (min-width: 689px) and (max-width: 1299px){
    .service-six-cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 20px;
    }
     /* secound section responsive */
     .smart-text-image-container{
        display: block;
        margin: 0px 100px;  
    }
    .smart-img img{
        width: 100%;
        margin-bottom: 70px;
    }
    /* Third section responsive */
    .about-text-card-container{
        display: block;
        margin: 0px 100px;
    }
    .four-card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        margin-top: 80px;
    }
    /* Forth section responsive */
    .advice-left-right-container{
        display: flex;
        margin: 0px 70px;
    }
    .advice-left-right-container a{
        margin: 10px 5px;
    }
    /* Fifth section responsive */
    form{
        max-width: 60%;
        padding: 40px 50px;
    }
    /* Sex section responsive */
    .six-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin: 0px 100px;
    }
    .One-different-card{
        text-align: center;
    }
    .six-section{
        padding: 80px 0px;
    }
}



